li {
    display: inline;
}

a:hover {
    text-decoration: none
}


/*.is_light {
    background-color: #f5f7fa;
    color: #69707a;
}*/

.hero-is-primary {
    background-color: #6db81c;
}

.is-dark {
    background-color: #69707a;
}

.heading {
    margin: 10px;
    padding: 10px;
    color: #69707a;
    font-size: 40px;
}

.img_center {
    position: relative;
    bottom: 17px;
    width: 100%;
}

.row [class^="col-md-*"] {
    height: 100%;
    margin: 0 auto;
}

.row {
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

h2,
h4,
p,
a {
    text-align: center;
}

.column4 {
    position: relative;
    top: 14px;
}

.is-dark {
    color: white;
    height: 140px;
}

.is-dark h4 {
    position: relative;
    left: 12px;
}

.hero-is-primary a {
    padding: 13px 30px;
    color: #6db81c;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    width: 16%;
    margin: 30px auto;
}

.hero-is-primary {
    height: 200px;
    padding: 20px;
    color: white;
}

input {
    width: 80%;
    padding: 6px 8px;
    font-size: 15px;
    border-radius: 6px;
    margin-right: 5px;
    color: black;
}

.column8 {
    position: relative;
    top: 50px;
    left: 11px;
}

.bottom ul li {
    display: block;
    line-height: 35px;
}

.bottom {
    margin: 5px;
}

.bottom ul li a,
.copyright {
    font-size: 18px;
    color: #69707a;
    /*padding: 5px;*/
    text-decoration: underline;
}

i {
    margin: 10px;
}

.bottom h3 {
    text-align: left;
    padding: 0px 50px;
}

.copyright {
    position: relative;
    top: 158px;
}

.submit {
    color: white;
    background-color: #69707a;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .hero-is-primary a {
        width: 71%;
    }
    .hero-is-primary {
        height: 280px;
    }
    .is-dark {
        height: 200px;
    }
    input {
        width: 63%;
    }
    .bottom ul {
        padding: 0px;
    }
    .bottom h3 {
        padding: 0px 15px;
    }
}
